@import "../../styles/_variables.sass"
@import "../../styles/mixins.sass"

#footer
  width: 100%
  background-color: var(--thirdary)
  color: var(--primary)
  min-height: 50px
  +displayFlex()
  .footer-block
    margin: 0 auto
    padding: 15px 0
    text-align: center
    a
      text-decoration: none
